
RewriteEngine on
RewriteCond %{HTTP_HOST} ^astcor\.cl$ [OR]
RewriteCond %{HTTP_HOST} ^www\.astcor\.cl$
RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteCond %{REQUEST_URI} !^/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^/?$ "http\:\/\/astcor\.cl\/web\-astcor" [R=301,L]

