<section id="presentacion">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <img src="http://placehold.it/1900x720" alt="imagen ASTCOR" class="img-fluid">
    </div>
  </div>
  <div class="container ptop">
    <div class="row pbottom" id="tableros" >
      <div class="col-12 text-center align-self-center text-warning">
        <h2>Tableros ASTCOR</h2>
        <hr>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <img src="/assets/img/tableros.png" alt="Imagenes tableros electricos" class="img-fluid mx-auto d-block">
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 align-self-center">
        <p class="text-justify text-light font-weight-light">Desarrollamos integración en proyectos de automatización y eléctricos (tableros) en variadas empresas que requieran optimizar un proceso o implementar algún campo nuevo de control, dentro de sus líneas de producción.</p>
      </div>
    </div>
    <div class="row pbottom" id="asesorias">
      <div class="col-12 text-center align-self-center text-warning">
        <h2>Asesorias ASTCOR</h2>
        <hr>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <p class="text-justify text-light font-weight-light">
          <li><small>Gestión de proyectos, especificaciones técnicas para requisición de materiales, hojas de datos para equipos, control de avance y desempeño, manejo de grupos de trabajo en ingeniería y construcción.</small></li>
          <br>
          <li><small>Manejo de software de configuración y programación de sistemas de control e interfaces HMI de los principales fabricantes de estas tecnologías a nivel mundial, además del uso avanzado de herramientas computacionales.</small></li>
        </p>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 align-self-center">
        <img src="/assets/img/contact.png" alt="Imagenes asesorias ASTCOR" class="img-fluid mx-auto d-block">
      </div>
    </div>
  </div>
</section>
