<section id="representadas">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <img src="http://placehold.it/1900x720" alt="imagen Astcor" class="img-fluid">
    </div>
  </div>
  <div class="bg-primary">
    <div class="container">
      <h2 class="text-center ptop">Proveedores Exclusivos</h2>
      <hr>
      <div class="row text-center" *ngFor="let proveedorExclusivo of proveedoresExclusivos; let i = index">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 ptop align-self-center">
          <img [src]="proveedorExclusivo.logo" [alt]="proveedorExclusivo.nombre" class="img-fluid" style="height:100px;">
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
          <p class="text-justify"> <small>{{ proveedorExclusivo.descripcion }}</small></p>
        </div>
        <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 pbottom2 align-self-center">
          <button (click)="verProveedorExclusivo(i)"
            type="button" class="btn btn-success btn-block"> Ver más...
          </button>
        </div>
        <br>
      </div>
    </div>
  </div>
  <div class="bg-info text-light">
    <div class="container">
      <h2 class="text-center ptop">Proveedores Compartidos</h2>
      <hr>
      <div class="row text-center" *ngFor="let proveedor of proveedores; let i = index">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 ptop align-self-center">
          <img [src]="proveedor.logo" [alt]="proveedor.nombre" class="img-fluid" style="height:100px;">
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
          <p class="text-justify"> <small>{{ proveedor.descripcion }}</small></p>
        </div>
        <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 pbottom2 align-self-center">
          <button (click)="verProveedor(i)"
            type="button" class="btn btn-success btn-block"> Ver más...
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
