<section id="representada">
  <div class="row text-center">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <img [src]="proveedor.logo" [alt]="proveedor.nombre" class="img-fluid">
    </div>
  </div>
  <div class="bg-primary">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <h2 class="text-center ptop">{{proveedor.nombre}}</h2>
          <hr>
          <p class="text-justify">{{proveedor.descripcion}}</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="productos">
  <div class="bg-info text-light">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <h2 class="text-center ptop">Productos</h2>
          <hr>
        </div>
      </div>
      <div class="row text-center ptop">
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <img [src]="proveedor.img1" [alt]="proveedor.nombre" class="img-fluid align-self-center">
        </div>
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <p>{{proveedor.productos1}}</p>
        </div>
      </div>
      <div class="row text-center ptop ">
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <p>{{proveedor.productos2}}</p>
        </div>
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <img [src]="proveedor.img2" [alt]="proveedor.nombre" class="img-fluid align-self-center">
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 pbottom2 ptop">
          <a class="btn btn-warning btn-block" [href]="proveedor.web" role="button" target="_blank">Visitar Web</a>
        </div>
      </div>
    </div>
  </div>
</section>
