<section id="presentacion">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class="card bg-dark text-white">
        <img class="card-img" src="http://placehold.it/1900x720" alt="imagen Astcor">
        <div class="card-img-overlay">
          <h1>Astcor</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="container pbottom">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <p class="text-light text-justify font-weight-light">ASTCOR, es una empresa formada por un equipo de profesionales multidisciplinario del área Industrial, Comercial, Mecánica, Prevención de Riesgo y Medio Ambiente con experiencias individuales de más de 25 años en el mercado nacional dando soluciones a los requerimientos de las empresas.</p>
      </div>
      <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
        <img src="http://placehold.it/200x200" alt="logo Astcor" class="d-block w-100">
      </div>
      <div class="col-12 col-sm-12 col-md-9 col-lg-9 col-xl-9">
        <p class="text-light text-justify">Hoy en día toda esta experiencia se ve canalizada a través de nuestra firma, siempre innovando en adelantos tecnológicos con los más altos estándares de calidad a nivel internacional en: calefactores eléctricos eficientes, cintas calefactoras eléctricas (Heat Trace), cable calefactores de aislación mineral, sensores de temperatura, controladores de temperatura, controladores de potencia thermowell, manómetros, transmisores de presión, transmisores de nivel, válvulas de control e instrumentación en general.</p>
      </div>
    </div>
  </div>
</section>

<section id="areas">
  <div class="bg-secondary ptop" >
    <div class="container">
      <div class="row text-center">
        <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
          <img src="http://placehold.it/300x300" alt="imagen proveedores" class="w-100">
          <p class="text-light"><small>Proveedores</small></p>
        </div>
        <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
          <img src="http://placehold.it/300x300" alt="imagen proveedores" class="w-100">
          <p class="text-light"><small>Servicios</small></p>
        </div>
        <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
          <img src="http://placehold.it/300x300" alt="imagen proveedores" class="w-100">
          <p class="text-light"><small>Clientes</small></p>
        </div>
      </div>
    </div>
  </div>
</section>
