/*componentes principales*/
body{
  background-color: rgb(78, 78, 78) !important;
  font-family: arial, 'Open Sans', sans-serif !important;
}

p{
  color: white;
  font-size: 13px;
  line-height: 1.6;
  text-align: justify;
}

/*Clases usadas*/
/*Banner imagene*/
.header{
  background-image: url("../img/fondo.png");
  background-repeat: repeat-x;
  background-size: 500px;
  height: 100px;
}

/*Navbar*/
.nav_back{
  background: linear-gradient(rgb(83, 83, 83), rgb(0, 0, 0));
}

.nav_own{
  color: white;
  text-transform: uppercase;
}

.nav_own .navbar-brand {
  color: white;
}

.nav_own .navbar-brand:hover, .nav_own .navbar-brand:focus {
  color: white;
}

.nav_own .navbar-nav li{
  border-left: 2px solid black;
}

.nav_own .navbar-nav .nav-link {
  color: white;
}

.nav_own .navbar-nav .nav-link:hover, .nav_own .navbar-nav .nav-link:focus {
  color: rgb(0, 164, 255);
}

.nav_own .navbar-nav .show > .nav-link,
.nav_own .navbar-nav .active > .nav-link,
.nav_own .navbar-nav .nav-link.show,
.nav_own .navbar-nav .nav-link.active {
  color: rgb(0, 164, 255);
}

.nav_own .navbar-toggler {
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.1);
}

.nav_own .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.nav_own .navbar-text {
  color: white;
}

.nav_own .navbar-text a{
  color: white;
}

.nav_own .nav-link a{
  line-height: 44px;
  font-size: 10px !important;
  font-family: sans-serif;
}

.nav_own .navbar-text a:hover,
.nav_own .navbar-text a:focus {
  color: rgb(0, 164, 255);
}

/*Boton Dropdown */
.drop_own{
  background-color: black !important;
}

.drop-item_own{
  color: white !important;
  padding: 3px 5px 3px 5px !important;
}

.drop-item_own:hover,
.drop-item_own:active{
  background-color: grey !important;
  color: white !important;
}

/*Servicio*/
.service{
  background-color: rgb(34, 34, 34);
}

.serviceInt{
  background-color: rgb(23, 23, 23);
  color: white;
  text-align: justify;
  max-width: 80%;
}

.serviceInt h2{
  font-family: 'Anton', sans-serif !important;
  font-weight: 100 !important;
  color: rgb(0, 164, 255);
  font-size: 44px;
}

.serviceInt p{
  text-align: justify;
  margin-bottom: 0px !important;
}

.serviceInt a{
  font-family: 'Anton', sans-serif !important;
  color: white;
  letter-spacing: 1px;
  font-size: 20px !important;
}

/*Contacto*/
.conta{
  color: white;
  text-transform: uppercase;
}

.conta p{
  font-size: 12px;
  padding-top: 0px !important;
  margin: 0px !important;
}

.conta a{
  color: white;
  font-size: 12px;
}

.conta h3{
  color: white !important;
  font-family: 'Anton', sans-serif !important;
  font-weight: 100 !important;
  font-size: 36px;
}

.conta hr{
  border-bottom: 1px solid white;
}

/*Footer*/
.foot{
  background-color: black;
  color: white;
}

.foot p{
  padding: 10px;
  margin-bottom: 5px;
  margin: 0px;
  font-size: 12px;
}

/*Comunes*/
.container-own{
  background-color: rgb(53, 53, 53);
  color: white;
  text-align: justify;
  max-width: 80%;
}

.container-own h2{
  font-family: 'Anton', sans-serif !important;
  font-size: 44px !important;
  font-weight: 100 !important;
}

.container-own h3{
  color: rgb(0, 164, 255);
  text-transform: uppercase;
  text-align: center;
  font-family: 'Anton', sans-serif !important;
  font-size: 36px !important;
  font-weight: 100 !important;
}

.container-own hr{
  border-bottom: dotted 2px rgb(154, 154, 154);
}

.container-own img{
  max-width: 100%;
  margin: 15px;
}

.container-own p{
  text-align: justify;
  margin-bottom: 0px !important;
}

.container-own a{
  font-family: 'Anton', sans-serif !important;
  color: white;
  letter-spacing: 1px;
  font-size: 20px !important;
  background-color: rgb(23, 23, 23);
  border-style: none;
  margin-top: 20px;
}

.temInt{
  padding-top: 10px;
  padding-bottom: 20px;
}

.margin-own{
  margin-top: 20px;
  margin-bottom: 35px;
}
