/*Carrusel*/
.car_back{
  height: 370px !important;
  background-size: cover;
}

.car_coment{
  background-color: rgba(0, 128, 207, 0.5);
  height: 370px;
  color: white;
  text-align: center;
  font-size: 18px;
  font-weight: 800;
  vertical-align: middle !important;
}

.empty{
  height: 80%
}
