.prodImg{
  max-width: 230px;
  max-height: 160px !important;
  padding: 20px;
  background-color: white;
}

.prodImgCa img{
  max-height: 150px !important;
  background-color: white;
  align-items: center;
}
