/*Carrusel*/
.car_back{
  height: 370px !important;
  background-size: cover;
}

.car_coment{
  background-color: rgba(0, 128, 207, 0.5);
  height: 370px;
  color: white;
  text-align: center;
  font-size: 18px;
  font-weight: 800;
  vertical-align: middle !important;
}

/*Servicio*/
.service{
  background-color: rgb(34, 34, 34);
}

.serviceInt{
  background-color: rgb(23, 23, 23);
  color: white;
  text-align: justify;
  max-width: 80%;
}

.serviceInt h2{
  font-weight: 800;
  color: rgb(0, 164, 255);
}

.serviceInt p{
  text-align: justify;
  margin-bottom: 0px !important;
}

.pad-bot_10{
  padding-bottom: 10px;
}

/*3 temas*/
.tem{
  color: white;
  text-align: justify;
  max-width: 80%;
}

.tem h3{
  font-weight: 600;
  color: rgb(0, 164, 255);
  text-transform: uppercase;
  text-align: center;
  border-bottom: dotted 2px white;
}

.tem img{
  max-width: 100%;
}

.tem p{
  text-align: justify;
  margin-bottom: 0px !important;
}

.temInt{
  padding-top: 10px;
  padding-bottom: 20px;
}

/*3 temas*/
.conta{
  color: white;
  text-transform: uppercase;
}

.conta p{
  font-size: 15px;
  padding: 3px !important;
  margin: 0px !important;
}

.conta a{
  color: white;
}

.conta hr{
  border-bottom: 1px solid white;
}


/*Comunes*/
.space{
  background-color: rgb(53, 53, 53);
}
