<footer class="footer bg-dark text-light ">
  <div class="container">
    <div class="row">
      <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 align-self-center">
        <ul class="list text-success">
          <small>
          <li> <a [routerLink]="['home']" class="text-success">Inicio</a> </li>
          <li> <a [routerLink]="['about']" class="text-success">Nosotros</a> </li>
          <li> <a [routerLink]="['representadas']" class="text-success">Marcas representadas</a> </li>
          <li> <a [routerLink]="['clientes']" class="text-success">Clientes</a> </li>
          <li> <a [routerLink]="['servicios']" class="text-success">Servicios</a> </li>
          <li> <a [routerLink]="['about#contact']" class="text-success">Contacto</a> </li>
          </small>
        </ul>
      </div>
      <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right text-success align-self-center">
        <address>
          <i class="fas fa-map-marker-alt"></i>
          <small>Avenida irarrazaval 2401, Ñuñoa </small>
          <small>Santiago, Chile.</small><br>
          <i class="fas fa-phone"></i>
          <small>+56232247907</small><br>
          <i class="fas fa-envelope"></i>
          <small><a href="mailto:info@astcor.cl" class="alert-link">info@astcor.cl</a></small>
        </address>
      </div>
    </div>
  </div>
</footer>
