<footer class="footer bg-info text-white">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style="padding-top:3%">
        <h3 class="text-center"><strong> Astcor </strong></h3><br>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 align-self-center text-center">
        <img src="assets/img/logo_2.png" class="img-fluid" alt="Logo Responsivo" width="100%">
        <h4 text-center>Importadora y Exportadora ASTCOR Chile Limitda</h4>
        <hr>
      </div>
      <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4 text-center align-self-center">
        <ul class="list-unstyled">
          <li> <a href="/home" class="text-secondary">Inicio</a> </li>
          <li> <a href="/about" class="text-secondary">Nosotros</a> </li>
          <li> <a href="/representadas#representadas" class="text-secondary">Proveedores</a> </li>
          <li> <a href="/representadas#productos" class="text-secondary">Productos</a> </li>
          <li> <a href="/clientes" class="text-secondary">Clientes</a> </li>
          <li> <a href="/about#contact" class="text-secondary">Contacto</a> </li>
        </ul>
      </div>
      <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4 text-center align-self-center">
        <address>
          <strong>Oficina Comercial: </strong><small>Avenida irarrazaval 2401 Ñuñoa </small><br>
          <small>Piso 13, Oficina 1302</small><br>
          <strong>Oficina Técnica: </strong><small>Avenida irarrazaval 2401 Ñuñoa </small><br>
          <small>Piso 13, Oficina 1317</small><br>
          <small>Santiago, Chile.</small><br><br>
          <abbr title="Phone"><strong>Telefono: </strong></abbr><small>+56232247907</small><br>
        </address>
        <address>
          <strong>Correo: </strong><small><a href="mailto:info@astcor.cl" class="alert-link">info@astcor.cl</a></small>
        </address>
      </div>
    </div>
  </div>
</footer>
